<div class="app-container">
  <mat-card style="background-color: #3f51b5; color: white;">
    <mat-card-header style="text-align: center;">
      <mat-card-title>
        <div class="mat-headline">User Maintenance</div>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="flexlayout row center" style="padding-top: 25px;">
      <div class="flexlayout row topcenter" style="gap: 50px;">
        <div class="flexlayout column center">
          <div class="employee">User List</div>
          <div class="list" [style]="getListHeight()">
            <div [class]="getEmployeeClass('')"
              (click)="onSelect('new')">New User</div>
            <div *ngFor="let usr of users" [class]="getEmployeeClass(usr.id)"
              (click)="onSelect(usr.id)">
              {{usr.getFullName()}}
            </div>
          </div>
        </div>
        <app-user-actions-profile [user]="selected"></app-user-actions-profile>
      </div>
    </mat-card-content>
  </mat-card>
</div>
