<div class="fxLayout fxLayout-column-center">
  <mat-card style="background-color: #3f51b5; color: white;">
    <mat-card-header>
      <div class="fxLayout-row-left">
        <div class="fxLayout-column-topleft">
          <div class="headline">Employee's Company Information</div>
          <div class="subheadline">{{employee.name.getFullName()}}</div>
        </div>
      </div>
    </mat-card-header>
    <mat-card-content class="fxLayout-column-center">
      <div class="fxLayout-column-center">
      </div>
    </mat-card-content>
  </mat-card>
</div>
