<div class="app-container">
  <div class="employeeNav">
    <div class="list">
      <div *ngFor="let item of items"
      [class]="getButtonStyle(item.id)"
      (click)="onSelect(item.id)"
      >{{item.label}}</div>
    </div>
    <div class="activeOnly">
      <mat-checkbox [checked]="activeOnly"
        (change)="setActiveOnly($event.checked)">
        <span style="color: white;">Show Active Only</span>
      </mat-checkbox>
    </div>
  </div>
  <app-site-employee-editor [employee]="employee"></app-site-employee-editor>
</div>