<mat-accordion multi>
  <mat-expansion-panel expanded="true">
    <mat-expansion-panel-header>
      <mat-panel-title>Employee</mat-panel-title>
    </mat-expansion-panel-header>
    <mat-nav-list>
      <a mat-list-item routerLink="/employee/schedule"
        style="height: 20px;">Schedule</a>
      <a mat-list-item routerLink="/employee/ptoholidays"
      style="height: 20px;">PTO/Holiday Listing</a>
      <a mat-list-item routerLink="/employee/profile"
      style="height: 20px;">Profile</a>
      <a mat-list-item routerLink="/employee/leaverequest"
      style="height: 20px;">Leave Requests</a>
    </mat-nav-list>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Site Schedule</mat-panel-title>
    </mat-expansion-panel-header>
    <mat-nav-list>
      <a mat-list-item routerLink="/siteschedule/schedule"
      style="height: 20px;">Schedule</a>
      <a mat-list-item 
        *ngIf="this.authService.isScheduler || this.authService.isLeader"
        routerLink="/siteschedule/coverage"
        style="height: 20px;">Coverage</a>
      <a mat-list-item routerLink="/siteschedule/mids"
        style="height: 20px;">Mids Listing</a>
    </mat-nav-list>
  </mat-expansion-panel>
  <mat-expansion-panel  expanded="true"
    *ngIf="this.authService.isScheduler || this.authService.isLeader">
    <mat-expansion-panel-header>
      <mat-panel-title>Site Editing</mat-panel-title>
    </mat-expansion-panel-header>
    <mat-nav-list>
      <a mat-list-item routerLink="/newemployee"
      style="height: 20px;">New Employee</a>
      <a mat-list-item routerLink="/siteemployees"
      style="height: 20px;">Employee Editor</a>
      <a mat-list-item
      style="height: 20px;">Workcenters</a>
      <a mat-list-item
      style="height: 20px;">Labor Codes Maintenance</a>
      <a mat-list-item
      style="height: 20px;">Forecast Report Maintenance</a>
    </mat-nav-list>
  </mat-expansion-panel>
  <mat-expansion-panel 
    *ngIf="this.authService.isScheduler || this.authService.isLeader || this.authService.isCompanyLead"
    >
    <mat-expansion-panel-header>
      <mat-panel-title>Data Ingest</mat-panel-title>
    </mat-expansion-panel-header>
    <mat-nav-list>
      <a mat-list-item
      style="height: 20px;">Upload Ingest</a>
      <a mat-list-item
      style="height: 20px;">Manual Work/Leave Entry</a>
    </mat-nav-list>
  </mat-expansion-panel>
</mat-accordion>