<form [formGroup]="profileForm">
  <div class="fxLayout-row-center">
    <mat-form-field>
      <mat-label>E-mail Address</mat-label>
      <input matInput formControlName="email">
    </mat-form-field>
  </div>
  <div class="fxLayout-row-center" *ngIf="user.id !== ''">
    <div class="formField">
      <mat-form-field class="fieldWidth">
        <mat-label>First Name</mat-label>
        <input matInput formControlName="first">
      </mat-form-field>
    </div>
    <div class="formField">
      <mat-form-field class="fieldWidth">
        <mat-label>Middle Name</mat-label>
        <input matInput formControlName="middle">
      </mat-form-field>
    </div>
    <div class="formField">
      <mat-form-field class="fieldWidth">
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="last">
      </mat-form-field>
    </div>
  </div>
  <div class="fxLayout-row-center">
    <h3>Reset Password</h3>
  </div>
  <div class="fxLayout-row-center">
    <div class="formFieldWide">
      <mat-form-field style="width: 225px;">
        <mat-label>New Password</mat-label>
        <input matInput type="password" formControlName="password">
        <mat-error *ngIf="this.profileForm.get('password')?.invalid"
          class="error">
          {{getPasswordError()}}
        </mat-error>
      </mat-form-field>
    </div>
    <div class="formFieldWide">
      <mat-form-field style="width: 225px;">
        <mat-label>Verify New Password</mat-label>
        <input matInput type="password" formControlName="password2">
        <mat-error *ngIf="this.profileForm.get('password2')?.invalid"
          class="error">
          {{getVerifyError()}}
        </mat-error>
      </mat-form-field>
    </div>
    <div class="formField" style="vertical-align: top; width: 75px;"
      *ngIf="user.id !==''">
      <button mat-raised-button color="accent" 
        [disabled]="!profileForm.valid">Change</button>
    </div>
  </div>
  <div class="fxLayout-column-center" *ngIf="user.id !== ''"
  style="background-color: white; color: black;">
      <div class="fxLayout-column-topleft">
        <h4>User's Permissions</h4>
        <div class="fxLayout-row-center">
          <mat-checkbox formControlName="employee">Employee</mat-checkbox>
          <mat-checkbox formControlName="scheduler">Site Scheduler</mat-checkbox>
          <mat-checkbox formControlName="company">Site Company Lead</mat-checkbox>
        </div>
        <div class="fxLayout-row-center">
          <mat-checkbox formControlName="siteleader">Site Leader</mat-checkbox>
          <mat-checkbox formControlName="teamleader">Team Leader</mat-checkbox>
          <mat-checkbox formControlName="admin">Application Admin</mat-checkbox>
        </div>
      </div>
  </div>
  <div class="fxLayout-row-center" *ngIf="formError !== ''">
    <span class="error">{{formError}}</span>
  </div>
  <div class="flexlayout row center" *ngIf="profileForm.valid">
    <button mat-raised-button color="accent" (click)="onAdd()">Add</button>
  </div>
</form>
