<mat-tab-group preserveContent="true">
  <mat-tab label="Profile">
    <app-site-employee-basic [employee]="employee"></app-site-employee-basic>
  </mat-tab>
  <mat-tab label="Company Info">

  </mat-tab>
  <mat-tab label="Labor Codes">

  </mat-tab>
  <mat-tab label="Assignments">
    <app-site-employee-assignment [employee]="employee"></app-site-employee-assignment>
  </mat-tab>
  <mat-tab label="Variations">

  </mat-tab>
  <mat-tab label="PTO/Holidays List">
    <app-site-pto-holiday [employee]="employee"></app-site-pto-holiday>
  </mat-tab>
  <mat-tab label="Leaves">

  </mat-tab>
  <mat-tab label="Leave Balances">

  </mat-tab>
  <mat-tab label="Leave Requests">

  </mat-tab>
</mat-tab-group>
