/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.margin-top { margin-top: 16px; }
.horizontal-padding { margin-left: 16px; margin-right: 16px; }
.flex-spacer { flex: 1 1 auto; }

.fxLayout {
    margin-top: 32px;
}

.fxLayout-column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.fxLayout-row-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0;
}

.fxLayout-row {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    width: 100%;
    padding: 0;
}

::ng-deep .spinner-dialog > mat-dialog-container {
    background-color: var(--background);
}